.seepr {
    background-color: #d87d4a;
}
.all1 div div img {
    max-height: 300px !important;
}
.all1 div div span {
    color: #d87d4a;
}
@media (min-width: 992px) {
    .all1 div div h3 {
        display: -webkit-box;
        display: -moz-box;
        overflow: hidden;
        word-break: break-word;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -moz-line-clamp: 2;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
    }
}

@media (max-width: 992px) {
    .all1 img {
        max-height: 200px !important;
    }
    .all1 div {
        flex-direction: row !important;
    }
    .all1 div div {
        justify-content: flex-start !important;
    }
    .all1 div div strong , .all1 div div span, .all1 div div h3{
        text-align: left  !important;
    }
    .all1 h3{
        overflow: hidden;
        word-break: break-word;
        white-space: nowrap;
        text-overflow: ellipsis;
    } 
}
@media (max-width: 576px) {
    .all1 img {
        max-height: 150px !important;
    }
}